1_data_exploration_challenges.ipynb
2_data_cleaning_with_pandas_challenges.ipynb
2_SOLUTION_data_cleaning_with_pandas.ipynb
3_datetime_challenges.ipynb
4_groupby_challenges.ipynb
5_quality_assessment_challenge.ipynb
5_1_quality_assessment.ipynb
6_category_creation_challenge.ipynb
5_SOLUTION_quality_assessment_sample.ipynb
7_seaborn_challenges.ipynb
7_seaborn_solutions.ipynb
presentation/monhly_income_all_sales.png
presentation/0_daily_overview.png
presentation/totRevenue_vs_avgDiscount.png
presentation/avg_monthly_discount_boxplot.png
presentation/avg_monthly_discount.png
presentation/monthly.png
presentation/monthly_sales.png
presentation/dataImprovement.txt
presentation/0_groups.png
presentation/0_week_timetable.png
presentation/totRevenue_vs_avgDiscount2.png
csv_files/
shared_ipynb/
